<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007854929155-p7jc8pvlro7d4bcpu1srs11chqifc3vu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007854929155-p7jc8pvlro7d4bcpu1srs11chqifc3vu</string>
	<key>API_KEY</key>
	<string>AIzaSyD0zTaqjVKwAo7op8TlgVTgOclWC2NKr30</string>
	<key>GCM_SENDER_ID</key>
	<string>1007854929155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Arcanium.ChatApp-iOS</string>
	<key>PROJECT_ID</key>
	<string>chatapp-f2b25</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-f2b25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007854929155:ios:9722947a49f16e1f481536</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-f2b25-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>